@font-face{
    font-family:'Comfortaa';
    src: url(/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

@font-face{
    font-family:'Roboto';
    src: url(/fonts/Roboto/Roboto-Black.ttf);
}

@font-face{
    font-family:'Montserrat';
    src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face{
    font-family:'Poppins';
    src: url(/fonts/Poppins/Poppins-Light.ttf);
}

.bg img{
    margin-left: 200px;
    margin-top: -70px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 1040px;
    height: 100px;
    margin-left: -80px;
    margin-top: 179px;
}

.text-overlay {
    font-family:'Comfortaa';
    font-size: 35px;
    position: absolute;
    margin-top: -335px;
    left: 13%;
    transform: translate(-50%, -50%);
    color:white;
    padding: 10px;
  }

  .text-overlay2 {
    font-family:'Comfortaa';
    font-size: 20px;
    position: absolute;
    margin-top: -330px;
    left: 30%;
    transform: translate(-50%, -50%);
    color:white;
    padding: 10px;
  }

  .text-overlay3 {
    font-family:'Comfortaa';
    font-size: 20px;
    position: absolute;
    margin-top: -330px;
    left: 40%;
    transform: translate(-50%, -50%);
    color:white;
    padding: 10px;
  }

  .text-overlay4 {
    font-family:'Comfortaa';
    font-size: 20px;
    position: absolute;
    margin-top: -330px;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    padding: 10px;
  }

  .text-overlay5 {
    font-family:'Poppins';
    font-size: 15px;
    position: absolute;
    margin-top: -330px;
    left: 65%;
    transform: translate(-50%, -50%);
    color:white;
    padding: 10px;
  }

  .text-overlay6 {
    background-color: white;
    width: 100px;
    height: 15px;
    text-align: center;
    border-radius: 30px;
    font-family:'Poppins';
    font-size: 15px;
    position: absolute;
    margin-top: -330px;
    left: 73%;
    transform: translate(-50%, -50%);
    color:purple;
    padding: 10px;
  }

/*Sec 1*/

.text-overlay7 {
    letter-spacing: 20px;
    font-family:'Roboto';
    font-size: 80px;
    position: absolute;
    margin-top: -690px;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#3B668D;
    padding: 10px;
  }

  .text-overlay8 {
    letter-spacing: 20px;
    font-family:'Montserrat';
    font-size: 22px;
    position: absolute;
    margin-top: -620px;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#3B668D;
    padding: 10px;
  }

  .text-overlay9 {
    font-family:'Comfortaa';
    font-size: 22px;
    position: absolute;
    margin-top: -610px;
    margin-left: -1040px;
    transform: translate(-50%, -50%);
    color:#3B3F8D;
    padding: 10px;
  }

  .text-overlay95 {
    font-family:'Comfortaa';
    font-size: 22px;
    position: absolute;
    margin-top: -580px;
    margin-left: -1000px;
    transform: translate(-50%, -50%);
    color:#3B3F8D;
    padding: 10px;
  }

  .text-overlay10 {
    font-family:'Comfortaa';
    font-size: 22px;
    position: absolute;
    margin-top: -460px;
    margin-left: -995px;
    transform: translate(-50%, -50%);
    color:#3B3F8D;
    padding: 10px;
  }

  .text-overlay11 {
    font-family:'Comfortaa';
    font-size: 22px;
    position: absolute;
    margin-top: -360px;
    margin-left: -1025px;
    transform: translate(-50%, -50%);
    color:#3B3F8D;
    padding: 10px;
  }

  .text-overlay12 {
    font-family:'Comfortaa';
    font-size: 22px;
    position: absolute;
    margin-top: -260px;
    margin-left: -1045px;
    transform: translate(-50%, -50%);
    color:#3B3F8D;
    padding: 10px;
  }

  .text-overlay13 {
    font-family:'Comfortaa';
    font-size: 22px;
    position: absolute;
    margin-top: -200px;
    margin-left: -985px;
    transform: translate(-50%, -50%);
    color:#3B3F8D;
    padding: 10px;
  }

  .text-overlay14 {
    font-family:'Comfortaa';
    font-size: 20px;
    position: absolute;
    margin-top: -150px;
    margin-left: -650px;
    transform: translate(-50%, -50%);
    color:#ADADAD;
    padding: 10px;
  }

  .text-overlay15 {
    cursor: pointer;
    background-color: blue;
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 30px;
    font-family:'Poppins';
    font-size: 22px;
    position: absolute;
    margin-top: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    padding: 10px;
  }

  .text-overlay151 {
    font-family:'Comfortaa';
    font-size: 16px;
    position: absolute;
    margin-top: 180px;
    margin-left: -670px;
    transform: translate(-50%, -50%);
    color:#BB6DF3;
    padding: 10px;
  }

  .text-overlay152 {
    cursor: pointer;
    background-color: blue;
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 30px;
    font-family:'Poppins';
    font-size: 22px;
    position: absolute;
    margin-top: 115px;
    margin-left: -475px;
    transform: translate(-50%, -50%);
    color:white;
    padding: 10px;
  }

  form {
    display: flex;
    margin-bottom: 20px;
    margin-left: -920px;
  }
  
  input[type="text"] {
    font-family:'Comfortaa';
    margin-top: -550px;
    font-size: 20px;
    width: 53%;
    height: 40px;
    padding: 15px;
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
    border-radius: 30px;
  }

  input[type="text2"] {
    font-family:'Comfortaa';
    margin-top: -430px;
    font-size: 20px;
    width: 53%;
    height: 40px;
    padding: 15px;
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
    border-radius: 30px;
  }

 input[type="text3"] {
    font-family:'Comfortaa';
    margin-top: -350px;
    font-size: 20px;
    width: 53%;
    height: 40px;
    padding: 15px;
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
    border-radius: 30px;
  }

  input[type="text4"] {
    font-family:'Comfortaa';
    margin-top: -270px;
    font-size: 20px;
    width: 53%;
    height: 40px;
    padding: 15px;
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
    border-radius: 30px;
  }

  input[type="text5"] {
    font-family:'Comfortaa';
    text-align: center;
    margin-top: -60px;
    margin-left: 350px;
    font-size: 20px;
    width: 18%;
    height: 40px;
    padding: 15px;
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
    border-radius: 30px;
  }

.back{
    margin-top: -95px;
    margin-left: -20px;
}

.backimg2{
    margin-top: -720px;
}

.back2{
    margin-top: -490px;
    margin-left: 1440px;
}

.backimg4{
    margin-top: -700px;
    margin-left: -3px;
}

.backimg8{
    margin-top: -250px;
    margin-left: -910px;
}

.backimg9{
    margin-top: -75px;
    margin-left: -630px;
}

.backimg10{
    margin-top: -175px;
    margin-left: -810px;
}


/*Sec 2*/

.form{
    margin-top: 250px;
}

.backimg6{
    margin-left: 380px;
    margin-top: -170px;
}

.backimg7{
    margin-left: 760px;
    margin-top: -170px;
}

.back3{
    margin-top: 400px;
    margin-left: -10px;
}


.back4{
    margin-top: -220px;
    margin-left: 1300px;
}

.foto{
    margin-left: -1215px;
    margin-top: -740px;
}

.text-overlay16 {
    font-family:'Comfortaa';
    font-size: 40px;
    position: absolute;
    margin-top: -100px;
    margin-left: -800px;
    transform: translate(-50%, -50%);
    color:#425B8C;
    padding: 10px;
  }

  .text-overlay17 {
    font-family:'Comfortaa';
    font-size: 20px;
    position: absolute;
    margin-top: -50px;
    margin-left: -790px;
    transform: translate(-50%, -50%);
    color:#718DC2;
    padding: 10px;
  }

  .text-overlay18 {
    font-family:'Comfortaa';
    font-size: 40px;
    position: absolute;
    margin-top: -45px;
    margin-left: -320px;
    transform: translate(-50%, -50%);
    color:#425B8C;
    padding: 10px;
  }

  .text-overlay19 {
    font-family:'Comfortaa';
    font-size: 20px;
    position: absolute;
    margin-top: 5px;
    margin-left: -240px;
    transform: translate(-50%, -50%);
    color:#718DC2;
    padding: 10px;
  }

  .backimg11{
    margin-top: -150px;
    margin-left: -1070px;
}

.backimg12{
    margin-top: -100px;
    margin-left: -520px;
}

/*Footer*/

.foot{
    margin-top: 1600px;
}

.bgfoot{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 1245px;
    height: 100px;
    margin-left: -80px;
    margin-top: 900px;
}

.foot3{
    margin-top: -250px;
    margin-left: 100px;
}

.fot13{
    font-family:'Comfortaa';
    color: white;
    font-size: 50px;
}

.fot14{
    line-height: 25px;
    font-family:'Comfortaa';
    color: white;
    font-size: 17px;
}

.fot15{
    margin-left: 570px;
    margin-top: -345px;
    font-family:'Comfortaa';
    color: white;
    font-size: 50px;
}

.fot16{
    margin-left: 570px;
    font-family:'Comfortaa';
    color: white;
    font-size: 17px;
    text-decoration: underline;
}

.fot17{
    margin-left: 1050px;
    margin-top: -330px;
    font-family:'Comfortaa';
    color: white;
    font-size: 50px;
}

.fot18{
    margin-left: 1050px;
    font-family:'Comfortaa';
    color: white;
    font-size: 17px;
}

.fot19{
    margin-top: 270px;
    margin-left: 480px;
    font-family:'Comfortaa';
    color: white;
    font-size: 19px;
}

